<p>
  <strong>Pronunciation:</strong>
  <%= @article.pronunciation %>
</p>
<p>
  <strong>First name:</strong>
  <%= @article.firstname %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @article.lastname %>
</p>
